//Colours
$light-blue : #29abe2;
$dark-blue : #0071bc;
$black : #1a1a1a;
// $light-grey : #f7f7f7;
$light-grey : #CDCDCD;

.color-white { color: white; }
.color-blue { color: $dark-blue; }

// Font Sizes

$font-large: 48px;
$font-medium: 36px;
$font-small: 24px;
$font-x-small: 18px;


// Main Padding

$main-padding-x: 9.75%;
.secondary-margin { margin: 0 20%; }

$main-padding-y: 8rem;
.main-padding-y { padding-top: $main-padding-y}
