.banner {
    &-home {
        min-height: 500px;
    }
    min-height: 500px;
    width: 100%;
   background-size: cover;
   position: relative;
   background-position: center center;
   h1, h2, p, button { color: white; }
    button { 
        border: 2px solid white;
        margin-top: 4rem;
    }
   .center-div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
   }
   .left-div {
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       left: $main-padding-x;
       width: 25%;
   }
  
}


.about-page {
    .banner-img-top, .banner-img-bottom {
        background-position: center center;
    }
}
@media( max-width: 1500px ){
    .banner {
        .center-div {
            width: 80%;
        }
        .left-div {
            width: 80%;
        }
    } 
}

@media( max-width: 580px ) {
    .banner {
        min-height: 300px;
    }
    .about-page {
        .banner-img-bottom {
            margin-bottom: 3rem;
        }
    }
}

