header {
    font-size: $font-x-small;
    color: $black;
    nav.navbar {
        display: block;
        margin: 1rem 0 0;
        height: 8rem;
    }
    #navbarMenu {
        position: relative;
        bottom: 3.25rem;
    }
   
    margin: 0;
    padding: 0;
    .phone {
        font-size: $font-small;
        color: $dark-blue;
        position: absolute;
        right: 1.5rem;
        top: 0;
    }
    li { margin-left: 2rem; }
    button.navbar-toggler {
        height: 2.5rem;
        z-index: 1000;
        position: absolute;
        right: 1.5rem;
        top: 1.65rem;
    }
    .logo {
        p { padding-bottom: .65rem; }
        &-image {
            z-index: 2500;
            max-width: 37.5rem;
        }
    }
}

@media( max-width: 1750px ){
    header {
        p { 
            font-size: $font-small;
        }
    }
}
@media( max-width: 1400px ){
    header {
        li { margin-left: .5rem; }
        p { padding-bottom: 1.2rem; }
        .londonOntario {
            color: white;
        }
    }
}
@media( max-width: 1200px ){
    header {
        #navbarMenu {
            left: 2rem;
        }
        button.navbar-toggler {
            top: 3.8rem;
        }
        .navbar-nav {
            width: 20rem;
            background: white;
            z-index: 2000;
            text-align: right;
            padding-right: 2.8rem;
            margin-top: 2rem;
        }
        ul.navbar-nav {
            position: relative;
            // left: 2rem;
        }
    }
}

@media( max-width: 991px ){
    header {
        h1 { font-size: 32px; }
        p {visibility: hidden;}
        .phone {
            right: 8.5rem;
            top: 1.15rem;
        }
        button.navbar-toggler {
            top: 1.8rem;
        }
    }
}
@media( max-width: 664px ){
    header {
        .logo {
            &-image {
                max-width: 25rem;
            }
        }
        button.navbar-toggler {
            top: .5rem;
        }
        .phone {
            top: 0;
        }
    }
}

@media( max-width: 572px ){
    .phone { visibility: hidden; }
}
@media( max-width: 386px ){
    header {
        .logo {
            &-image {
                max-width: 20rem;
            }
        }
       
    }
    
}