header {
    color: $black;
    nav.navbar {
        display: block;
        margin: 3rem 0 -4rem;
    }
    #navbarMenu {
        position: relative;
        bottom: 4.15rem;
    }
    margin: 0;
    padding: 0;
    .phone {
        font-size: $font-small;
        color: $dark-blue;
        position: absolute;
        right: 1.5rem;
        top: 2rem;
    }
    li { margin-left: 2rem; }
    button.navbar-toggler {
        z-index: 1000;
        position: absolute;
        right: 1.5rem;
        top: 1.75rem;
    }
}

@media( max-width: 1750px ){
    header {
        p { padding-bottom: .9rem; }
    }
}
@media( max-width: 1400px ){
    header {
        p { padding-bottom: 1.2rem; }
    }
}
@media( max-width: 1200px ){
    header {
        li { margin-left: .5rem; }
    }
}
@media( max-width: 991px ){
    header {
        h1 { font-size: 32px; }
        p {visibility: hidden;}
        .phone {
            right: 6.5rem;
            top: 1.25rem;
        }
    }
}
@media( max-width: 540px ){
    .phone { visibility: hidden; }
}
