.three-block {

    h2 { color: white; }
    ul { padding-top: 2rem; }
    li {
        list-style: none;
        color: white;
    }
    padding: 4rem 6rem;
    height: 225px;
    width: 33.3%;
    height: calc(33.3vw / 2.25);
    background-size: cover;
    background-position: center;
    &--1 {
        background-image: linear-gradient(to right, #1e9cd8, #067ac2);
    }

}
body a, body a:link, body a:visited, body a:hover {
    &.mailto-link {
        color: $dark-blue !important;
    }
}

@media( max-width: 1500px ){
    .three-block {
        padding: 2rem 4rem;
        h2 { font-size: 32px }
        ul { padding-top: 1rem; }

    }
}
@media( max-width: 1200px ){
    .three-block {
        height: auto;
        padding: 1rem 2rem;
    }
}
@media( max-width: 769px ){
    .three-block {
        width: auto;
    }
}
@media( max-width: 580px ){
    .three-block {
        width: 100%;
        padding: 0 5px;
    }
}
