.about-page {
    h1 { padding-top: 8rem; }
    p { padding: 2rem 0; }
    .pastor-img {
        width: 20rem;
        height: 20rem;
        background-size: cover;
        background-position: center;
        float: left;
        margin: 2rem 2rem 0 0;
    }
    
    .about-bold {
        font-family: 'EB Garamond', serif;
        font-weight: 600;
        
    }
    .main-padding-y {
        padding-top: 3rem !important;
    }
    
}

@media( max-width: 580px ){
    .about-page {
        p { padding-bottom: 3rem !important; }
    }
}
